@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Condensed", sans-serif;
}

.everfi-logo {
    display: flex;
    align-items: center;
    max-width: 350px;
    max-height: 180px;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}


/* <--- footer styling ---> */


body .footer {
  background-color: #1e1e1e;
  color: #fefefe;
}

.footer p {
  text-align: center;
  padding: 20px 0px 10px 0px;
  font-size: 0.85rem;
}

.profile-links {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.profile-links a {
  text-decoration: none;
  transition: transform 0.3s ease;
  &:hover {   
    transform: translateY(-2px);
  }
}

.profile-links img {
  width: 20px;
  height: 20px;
  margin: 0px 5px 20px 5px;
}