.link-cards-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 10rem;
}

.link-card {
  /* width: fit-content;
  height: fit-content; */
  padding: 0;
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
  cursor: pointer;
  max-width: 45vw;
  margin: 2rem;
  background-color: #fefefe;
  color: #252627;
  border: 2px solid #252627;
  box-shadow: 2px 3px #252627;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  &:hover {   
    transform: translateY(-10px);
    box-shadow: 4px 6px #252627;
  }
}

@media (max-width: 1280px) {
  .link-card {
    max-width: 80vw;
  }
}

.link-card video {
  display: block;
  max-width: 100%;
  height: auto;
}


.link-card-title {
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  font-size: clamp(1.4rem, calc(1.5vw + 1rem), 5rem);
  margin: 5rem 1rem 5rem 1rem;
}

.everfi-logo {
  width: 250px;
  height: 130px;
}

/* <--- modal temp styling ---> */


#modal-title {
  font-family: "Barlow Condensed", sans-serif;;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 20px;
}

#modal-description {
  font-family: "Barlow Condensed", sans-serif;
  text-align: left;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}